<mat-list role="list">

    <div class="profile">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="">
        <h2>Angular Tech</h2>
        <h4>angulartech.com</h4>
    </div>

<mat-divider></mat-divider>
<h2 matSubheader>Pages</h2>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Dashboard</a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Institution</a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Students</a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Placement</a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Statistics</a>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">courses</a>


    
  </mat-list>